.accordion {
  background-color: rgb(255, 255, 255);
  color: black;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #ccc
}

.accordion:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.panel {
  padding: 0 18px;
  background-color: rgb(174, 211, 227,0.9);
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.margin-10px {
    margin-bottom: 10px;
}

.buttons{
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
}

.body-style{
    background-color: rgb(242,230,207);
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    margin: 0; 
    color: #114c5f; 
}

.h3-style{
    color: rgb(17,76,95);  
}
.label-bold{
    font-weight: bold;
}

.h1-style{
    color: rgb(17,76,95);
    text-align: center;
}

.imput-style{
    width: 20%;
}
.estilo-cajas{
  margin-bottom: 10px;
  margin-top: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
.cajas{
  padding: 7px;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.cajas-Res{
  padding: 7px;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-right: 45px;
}
.inputStyle{
    width: 20%;
}
.button-style{
  border: 2px solid #000000;
  padding: 10px;
  border-radius: 10px;
  font-weight: bold;
}
.styletitle{
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  text-align: center;
}
.fondo{
  background-image: url("https://e1.pxfuel.com/desktop-wallpaper/581/154/desktop-wallpaper-backgrounds-for-login-page-login-page.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}